<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <title>TODO 리스트</title>
</head>
<body>
<div th:replace="~{fragments/body :: header}"></div>

<div class="d-flex flex-column justify-content-center align-items-center page">
  <h1>TODO 리스트</h1>

  <div th:if="${todos.empty}">
    남아있는 TODO가 없습니다
  </div>

  <div th:if="${!todos.empty}" class="d-flex flex-column justify-content-center align-items-center w-100">
    <table class="table w-100 align-middle">
      <thead>
      <tr>
        <th scope="col">
          <input class="js-check-all" type="checkbox"/>
        </th>
        <th scope="col">내용</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="todo : ${todos}">
        <td>
          <input class="js-check" type="checkbox" th:value="${todo.id}"/>
        </td>
        <td th:text="${todo.content}"></td>
        <td>
          <button type="button" class="btn btn-light js-update-todo" th:value="${todo.id}">수정</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex flex-row justify-content-end align-items-center w-100">
    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#create-modal">
      추가
    </button>
    <button type="button" class="btn btn-danger js-delete-todo me-2">삭제</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="create-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content js-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-modal-label">TODO 추가하기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control js-input-content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary js-create-todo">추가하기</button>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/body :: footer}"></div>
</body>
</html>