<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <title>TODO 리스트</title>
</head>
<body>
<div th:replace="~{fragments/body :: header}"></div>

<div class="d-flex flex-column justify-content-center align-items-center page">
  <h1>TODO 리스트</h1>

  <div th:if="${todos.empty}">
    남아있는 TODO가 없습니다
  </div>

  <div th:if="${!todos.empty}" class="d-flex flex-column justify-content-center align-items-center w-100">
    <table class="table w-100">
      <thead>
      <tr>
        <th scope="col">
          <input class="check-all" type="checkbox"/>
        </th>
        <th scope="col">내용</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="todo : ${todos}">
        <td>
          <input class="check" type="checkbox"/>
        </td>
        <td th:text="${todo.content}"></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<div th:replace="~{fragments/body :: footer}"></div>
</body>
</html>