body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.page {
  width: 640px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}
